<a href="https://colab.research.google.com/github/saidElhachemy/Hacker-news-posts/blob/main/Hacker_News_Posts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### import dataset from kaggle

In [2]:
 ! pip install -q kaggle

In [3]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"saidstar","key":"37ced199ca85758bec3cf226b7516ba2"}'}

In [8]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d hacker-news/hacker-news-posts

Downloading hacker-news-posts.zip to /content
 37% 7.00M/19.0M [00:00<00:00, 72.2MB/s]
100% 19.0M/19.0M [00:00<00:00, 107MB/s]

In [10]:
!unzip hacker-news-posts.zip

Archive:  hacker-news-posts.zip
  inflating: HN_posts_year_to_Sep_26_2016.csv

### data exploring

In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
posts = pd.read_csv('HN_posts_year_to_Sep_26_2016.csv')
posts.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14

In [13]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293119 entries, 0 to 293118
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            293119 non-null  int64
 1   title         293119 non-null  object
 2   url           279256 non-null  object
 3   num_points    293119 non-null  int64
 4   num_comments  293119 non-null  int64
 5   author        293119 non-null  object
 6   created_at    293119 non-null  object
dtypes: int64(3), object(4)
memory usage: 15.7+ MB

In [14]:
posts.describe(include='all')

,id,title,url,num_points,num_comments,author,created_at
count,2.931190e+05,293119,279256,293119.000000,293119.000000,293119,293119
unique,NaN,269452,247602,NaN,NaN,51900,215563
top,NaN,On the reception and detection of pseudo-profo...,http://www.aioptify.com/topmldmbooks.php?utm_s...,NaN,NaN,jonbaer,4/9/2016 22:40
freq,NaN,15,22,NaN,NaN,2731,11
mean,1.133046e+07,NaN,NaN,15.025324,6.525544,NaN,NaN
std,6.961055e+05,NaN,NaN,58.504103,30.376319,NaN,NaN
min,1.017690e+07,NaN,NaN,1.000000,0.000000,NaN,NaN
25%,1.071636e+07,NaN,NaN,1.000000,0.000000,NaN,NaN
50%,1.130303e+07,NaN,NaN,2.000000,0.000000,NaN,NaN
75%,1.193152e+07,NaN,NaN,4.000000,1.000000,NaN,NaN
max,1.257901e+07,NaN,NaN,5771.000000,2531.000000,NaN,NaN

In [31]:
# here we extract the organization/ site from the url
posts.url = posts.url.str.split('/',expand=True)[2]

In [32]:
posts.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,www.regulations.gov,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,www.sqlite.org,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,medium.com,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,cacm.acm.org,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,www.talend.com,1,0,markgainor1,9/26/2016 3:14

In [41]:
# the 50 most frequent sites
posts.url.value_counts().head(50)

medium.com                  15929
github.com                  14418
www.nytimes.com              5985
www.youtube.com              5232
techcrunch.com               4114
www.theguardian.com          3429
arstechnica.com              2979
www.bloomberg.com            2742
en.wikipedia.org             2321
www.bbc.com                  1992
www.wsj.com                  1979
www.washingtonpost.com       1939
www.wired.com                1827
www.theverge.com             1811
www.theatlantic.com          1515
www.bbc.co.uk                1335
qz.com                       1200
www.businessinsider.com      1191
nautil.us                    1189
motherboard.vice.com         1133
twitter.com                  1128
www.forbes.com               1111
www.economist.com            1077
www.techinasia.com           1047
www.linkedin.com             1043
www.technologyreview.com      973
venturebeat.com               941
www.newyorker.com             874
www.reddit.com                855
www.reuters.com               831
arxiv.org                     816
fortune.com                   769
www.nature.com                764
www.theregister.co.uk         763
www.engadget.com              744
www.eff.org                   727
www.npr.org                   700
phys.org                      672
www.vox.com                   636
spectrum.ieee.org             624
www.slate.com                 614
www.zdnet.com                 598
gizmodo.com                   593
www.kickstarter.com           543
theintercept.com              500
www.telegraph.co.uk           500
thenextweb.com                488
recode.net                    485
www.fastcompany.com           479
aeon.co                       475
Name: url, dtype: int64

In [54]:
# the site with the highest sum points is github
posts.groupby('url')['num_points'].sum().reset_index()[posts.groupby('url')['num_points'].sum().reset_index().num_points== posts.groupby('url')['num_points'].sum().reset_index().num_points.max()]

              url  num_points
14267  github.com      242837

In [58]:
# the site with the highest sum comments is nytimes
posts.groupby('url')['num_comments'].sum().reset_index()[posts.groupby('url')['num_comments'].sum().reset_index().num_comments== posts.groupby('url')['num_comments'].sum().reset_index().num_comments.max()]

                   url  num_comments
44358  www.nytimes.com         81751

In [67]:
# the user/author with the highest number of posts is jonbaer
posts.groupby('author').count().reset_index()[posts.groupby('author').count().reset_index().id== posts.groupby('author').count().reset_index().id.max()]

        author    id  title   url  num_points  num_comments  created_at
26432  jonbaer  2731   2731  2731        2731          2731        2731

In [70]:
# the author with the highest number of points is ingve
posts.groupby('author').num_points.sum().reset_index()[posts.groupby('author').num_points.sum().reset_index().num_points== posts.groupby('author').num_points.sum().reset_index().num_points.max()]

      author  num_points
23899  ingve       69465

In [71]:
# the author with the highest number of points is ingve
posts.groupby('author').num_comments.sum().reset_index()[posts.groupby('author').num_comments.sum().reset_index().num_comments== posts.groupby('author').num_comments.sum().reset_index().num_comments.max()]

      author  num_comments
23899  ingve         27940

In [84]:
# find the sum of number of points per year
posts.groupby(pd.PeriodIndex(posts['created_at'], freq="Y"))['num_points'].sum().reset_index()

  created_at  num_points
0       2015     1205127
1       2016     3199081

In [87]:
# find the sum of number of points per month
posts.groupby(pd.PeriodIndex(posts['created_at'], freq="M"))['num_points'].sum().reset_index()

   created_at  num_points
0     2015-09      246139
1     2015-10      321408
2     2015-11      321967
3     2015-12      315613
4     2016-01      359138
5     2016-02      359262
6     2016-03      394337
7     2016-04      369835
8     2016-05      370542
9     2016-06      349213
10    2016-07      334952
11    2016-08      360189
12    2016-09      301613

In [88]:
# find the sum of number of points per day
posts_days = posts.groupby(pd.PeriodIndex(posts['created_at'], freq="D"))['num_points'].sum().reset_index()

In [96]:
posts_days.num_points.value_counts().sort_index(ascending=False).head(10)

19334    1
18145    1
17267    1
16936    1
16805    1
16718    1
16638    1
16439    1
16393    1
16359    1
Name: num_points, dtype: int64

In [91]:
# find the day with the highest number of points
posts_days[posts_days.num_points == posts_days.num_points.max()]

     created_at  num_points
164  2016-02-17       19334

In [102]:
posts_hightest_day = posts[posts.created_at.str.split(' ',expand=True)[0] == '2/17/2016']

In [107]:
posts_hightest_day.num_points.value_counts().sort_index(ascending=False).head(10)

5771    1
685     1
659     1
562     1
520     1
479     1
419     1
358     1
328     2
282     1
Name: num_points, dtype: int64

In [108]:
# find the post with the highest points
posts_hightest_day[posts_hightest_day.num_points == posts_hightest_day.num_points.max()]

,id,title,url,num_points,num_comments,author,created_at
170017,11116274,A Message to Our Customers,www.apple.com,5771,967,epaga,2/17/2016 8:38